@media (max-width: 767px){
    header{
        z-index: 10;
    }
    .middle,.search,.navright{
        display: none;
    }
    nav .toggle{
        display: block;
    }
    .toggle button{
        width: 40px;
        height: 35px;
        background-color: var(--dark700);
        border: none;
        border-radius: 4px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .toggle button .btnsdiv{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .toggle button .common{
        position: absolute;
        width: 100%;
        height: 5px;
        right: 0;
        left: 1px;
        background-color: gray;
        border-radius: 10px;
        transition: .5s;
    
    }
    .toggle button .btnsdiv .span1{
        top:0;
    }
    .toggle button .btnsdiv .span2{
        top:45%;
    }
    .toggle button .btnsdiv .span3{
        bottom: 0;
    }


    .toggle button .open .span1{
        transform: rotate(217deg);
        top: 13px;
        background-color: var(--electric);
    }
    .toggle button .open .span3{
        transform: rotate(-217deg);
        bottom: 13px;
        background-color: var(--electric);
    }

    .toggle button .open .span2{
        left:100px;
        background-color: var(--electric);
    }
    .sidebar-container{
        display: block;
        position: fixed;
        top: 80px;
        width: 80%;
        height: 100vh;
        right: -100%;
        background-color: var(--dark800);
        transition: .5s;

    }
    .sidebar-container.slide{
        right: -0;
    }
    .sidebarmain{
        width: 100%;
        height: 65%;
        padding: 10px 20px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .sidebar-container hr{
        height: 0.5px;
        background-color: var(--border);
        border: none;
    }
    .searchdiv{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .searchdiv form{
        width: 100%;
        position: relative;
    }
    .searchdiv form input{
        width: 100%;
        background-color: var(--dark800);
        /* border:2px solid var(--dark700); */
        border: 1px solid rgb(149, 149, 166);
        border-radius: 5px;
        padding: 10px 35px;
        color: var(--white000);
        font-weight: 900;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        transition: .5s;
    }
    .searchdiv form span{
        color: gray;
        position: absolute;
        transform: translateY(55%);
        left: 10px;
    }
    .searchdiv form input:focus{
        outline: none;
        border: 1px solid var(--electric);
    }
    .sidebar-menu{
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
    }
    .sidebar-menu a{
        color: var(--white000);
        text-decoration: none;
        font-size: 19px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 10px;
        
    }
    .sidebar-menu a i{
       margin-right: 20px;
        font-size: 23px;
    }
    .sidebar-container .drop{
        font-size: 16px;
        transition: .5s;
    }
    .sidebar-container .rotated{
        transform: rotate(180deg);
        color: var(--electric);
    }
    .sidebar-menu a img{
        width: 20px;
        margin-right: 20px;
    }
    .sidebar-menu .group .groupdrop{
        width: 90%;
        position: relative;
        margin-left: 10%;
        padding: 10px ;
        display: none;
        /* background-color: red; */
    }
    .sidebar-menu .group .openmenu{
        display: block;
    }
    .groupdrop h1{
        color: gray;
        font-size: 18px;
        margin: 10px 0;
    }
    .groupdrop a{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 0px;
        padding: 5px;
        color: rgb(76, 76, 76);
    }
    .sidebar-profile a:hover,
    .sidebar-menu a:hover{
        border: 1px solid var(-border);
        background-color: gray;
        border-radius: 5px;
    }
    .sidebar-footer{
        width: 100%;
        padding: 20px;
    }
    .sidebar-profile{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sidebar-profile a{
        text-decoration: none;
        color: azure;
        margin-left: 20px;
        font-size: 18px;
        padding:3px 10px;
    }
    .sidebar-profile .prof{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
    }
    .prof h2{
        color: var(--white000);
    }
    .prof p{
        color: grey;
        font-weight: 900;
    }
    .sidebar-profile img{
        width: 40px;
    }


    /* featuredgroups */
    .featured-top h1{
        font-size: 16px;
    }
    .featured-top a{
        font-size: 16px;
    }
    .featuredGroups{
        grid-template-columns: 1fr 1fr ;
    }
    .featuredGroups a{
        padding: 20px 0;
    }
    .featuredGroups a h2{font-size: 16px;}
    .featuredGroups a p{
        font-size: 12px;
    }
    
    /* posts section stylings */
    .posts-container{
        height: auto;
        max-height: unset;
        min-height: unset;
    }
    .posts-actions{
        position: unset;
    }
    .posts-section-top h1{
        font-size: 20px;
    }
    .posts-filter button:hover{
        color: var(--electric);
    }
    .posts-section-container{
        grid-template-columns: 1fr;
        grid-gap:20px;
    }

    .posts-container:hover{
        border: 1px solid var(--border);
        transform: translateY(0%);
    }
    .posts-container-top .post-owner h2{
        color: var(--white000);
        font-size: 20px;
    }
    .posts-container-top p{
        color: var(--border);
    }

    .postscontent{
        width: 100%;
        margin-top: 10px;
    }
    .postscontent a h2{
        color: var(--white000);
        font-size: 20px;
        margin-bottom: 5px;
    }
    .postscontent p{
        color: var(--border);
        margin-top: 5px;
        font-size: 16px;
    }





    /* user groups stylings */
    .usergroups-top h1{
        font-size: 16px;
    }
    .usergroups-top a{
        font-size: 14px;
        padding: 7px;
    }
    .groups-box{
        grid-template-columns: 1fr;
    }
    .recommended-groups-container{
        grid-template-columns: 1fr 1fr;
    }
    .recommended-group-box a .recommended-top img{
        width: 50px;
        height: 45px;
    }





    /* groups stylings */
    .groupsbox-top{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }
    .groupsbox-top-left{
        width: 100%;
    }
    .groupsbox-top-left h1{
        font-size: 24px;
    }
    .groupsbox-top-left p{
        font-size: 18px;
        margin-top: 4px;
    }
    .groupsbox-top a{
        font-size: 18px;
        width: 60%;
        padding:10px 5px;
    }
    .groupsbox-middle{
        padding: 10px;
    }
    .groupsbox-middle-top{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .groupsbox-middle-top select,
    .groupsbox-middle-top form{
        width: 100%;
    }
    .groupsbox-middle-top form input{
        padding: 10px 30px;
        font-size: 16px;
    }
    .groupsbox-middle-top select{
        padding: 10px;
        font-size: 16px;
    }
    .groupsbox-middle-bottom{
        flex-wrap: wrap;
    }
    .groupsbox-middle-bottom button{
        font-size: 12px;
    }
    .groupsbox-container{
        grid-template-columns: 1fr;
    }
    .groupsbox-div{
        height: auto;
    }
    .groupsbox-div-top-left img{
        width: 40px;
        height:40px ;
        object-fit: contain;
    }
    .groupsbox-div-top-left h2{
        font-size: 18px;
    }
    .groupsbox-div-top-right div{
        font-size: 12px;
    }
    .groupsbox-div-contents p{
        font-size: 14px;
    }
    .groupsbox-div-members-left .common-div{
        width: 30px;
        height: 30px;
    }
    .common-mem2{
        left: 20px;
    }
    .common-mem3{
        left: 40px;
    }
    .common-mem4{
        left: 60px;
        font-size: 10px;
    }
    .groupsbox-div-members a{
        font-size: 14px;
    }
    .groupsbox-div-actions{
        padding: 10px 20px;
    }
    .paginators-div span,
    .paginators-div button{
        width: 25px;
        height: 25px;
        font-size: 15px;
    }



    /* landing page */
    .landhead{
        width: 100%;
        overflow-x: hidden;
        position: fixed;
    }
    .landnav{
        width: 100%;
    }
    .hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .hero-left{
        width: 100%;
    }
    .hero-top h1{
        font-size:40px;
    }
    .hero-cta .demo,
    .hero-cta .join{
        font-size: 16px;
        padding: 15px;
    }
    .hero-right{
        width: 100%;
        padding-bottom: 20px;
        
    }
    .example-post{
        width: 100%;
    }
    .user-post-image img{
        width: 30px;
        height: 30px;
    }
    .user-name-details h2{
        font-size: 14px;
    }
    .hero-right-post-details p{
        font-size: 14px;
    }
    .hero-post-container pre{
        font-size: 10px;
    }
    .trustees{
        width: 100%;
        padding: 20px;
    }
    .trusters{
        padding: 20px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .trusters img{
        width: 50px;
    }
    .features-container{
        width: 100%;
    }
    .featuresbox-div{
        padding: 20px;
        grid-template-columns: 1fr;
    }
    .testimnials-top{
        width: 100%;
    }
    .testimnials-top h1{
        font-size: 30px;
    }
    .testimonies-box{
        width: 100%;
        padding: 10px;
        grid-template-columns: 1fr;
    }
    .join-community{
        padding: 10px;
    }
    .join-div h1{
        font-size: 35px;
    }
    .join-div{
        padding: 30px 10px;
        border-radius: 5px;
    }
    .joinactions a{
        text-decoration: none;
        font-size: 16px;
    }
    .joinactions{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    .joinactions .start{
        padding: 10px 20px;
    }
    .footerbox{
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        padding-bottom: 20px;
    }.toplink img{
        width: 50px;
    }
    .toplink{
        gap: 10px;
    }
    .footercontainer{
        flex-wrap: wrap;
    }
    .footerlinks h1{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .footerlinks a{
        font-size: 14px;
        margin-bottom: 5px;
    }




    /* newpost form */
    .new-post{
        width: 100%;
    }
    .newpost-container{
        width: 100%;
        padding: 20px 10px;
    }
    
    .new-post-top h1{
        font-size: 18px;
    }
    .new-post-input-container textarea,
    .new-post-input-container select,
    .new-post-input-container input{
        font-size: 16px;
    }
    .banner-box{
        width: 100%;
    }





    /* userprofile-container stylings */
    .userprofile-container{
        width: 100%;
        padding: 10px 15px;
    }
    .user-top{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .user-top-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .user-profile-details h1{
        text-align: center;
    }
    .user-profile-details h4{
        text-align: center;
        margin-top: 10px;
    }
    .user-profile-details p{
        text-align: center;
        font-size: 18px;
    }
    .user-data{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .user-top-right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .user-count{
        width: 30%;
    }
    .user-bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .user-badges{
        width: 100%;
        overflow: auto;
    }
    .user-badges span{
        font-size: 12px;
    }
    .edit-user{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .userprofile-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .userprofile-box-left{
        width: 100%;
    }
    .userprofile-box-right{
        width: 100%;
    }
    .userprofile-box-middle{
        width: 100%;
        padding: 0;
    }
    .user-profile-contents-container-top .user-menu-links{
        justify-content: space-between;
    }
    .user-post-box-right-top h1{
        color: var(--white000);
        font-size: 18px;
    }
    .user-post-box-right-top p{
        font-size: 12px;
    }
    .user-post-box-right-content h1{
        font-size: 16px;
    }
    .user-post-box-right-content p{
        font-size: 14px;
    }







    /* groupd details page stylings */
    .groupdetailstop{
        width: 100%;
    }
    .groupdetailstop-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .group-details-top-left{
        width: 100%;
        padding: 10px;
    }
    .group-details-top-left-top{
        width: 100%;
        display: flex;
        align-items:flex-start;
        justify-content: left;
        gap: 10px;
    }
  
    .group-details-image img{
        width: 100px;
    }
    .group-name-details h1{
        font-size: 18px;
        line-height: unset;
    }
    .group-name-details p{
        font-size: 12px;
    }
    .group-name-details h2{
        font-size: 14px;
    }
    .group-name-details .about{
        font-size: 10px;
        margin-top: 5px;
    }
    .group-details-top-left-stats h2{
        font-size: 12px;
    }
    .group-details-top-left-stats{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    .group-details-top-left-stats .group-details-stat{
        padding: 5px;
    }
    .group-admins{
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .adminbox{
        padding: 5px;
        gap: 5px;
        width: auto;
    }
    .admin-details-container{
        display: none;
    }
    .admin-image img{
        width: 25px;
        height: 25px;
    }
    .admin-details-name h2{
        font-size: 12px;
    }
    .admin-details-name p{
        display: inline-block;
        font-size: 10px;
        padding: 5px;
    }




    .group-details-top-right{
        width: 100%;
    }
    .related-group-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        column-gap: 10px;
    }
    .related{
        margin-bottom: 0;
    }
    .related img{
        width: 30px;
        height: 30px;
    }
    .related-details h2{
        color: var(--white001);
        font-size: 14px;
    }
    .related-details p{
        color: var(--border);
        font-size: 11px;
    }
    .related a{
        text-decoration: none;
        color: var(--electric);
        font-size: 12px;
    }
    .group-details-top-right-bottom{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .group-post{
        margin-top: 10px;
        font-size: 16px;
    }
    .group-settings a{
        gap: 5px;
        padding: 10px;
    }
    .group-details-nav-links-top a.active{
        color: var(--electric);
    }

    .group-details-nav-links{
        padding: 10px;
    }
    .group-details-nav-links-top{
        gap: 20px;
        justify-content: space-between;
       
    }
    .group-details-nav-links-top a{
        text-align: left;
        font-size: 14px;
    }
    .group-details-nav-links-indicator{
        display: none;
    }



    .group-details-nav-links-bottom{
        border-radius: 4px;
        padding: 10px;
    }
    .group-details-nav-links-bottom-left img{
        width: 40px;
        height: 40px;
    }
    .group-details-nav-links-bottom-right{
        width: 85%;
    }
    .group-details-nav-links-bottom-right input{
        border-radius: 3px;
    }
    .group-details-nav-links-bottom-type button{
        font-size: 14px;
        gap: 5px;
    }




    /* settings page styling responsiveness */
    .setingscontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        padding: 10px 0;
    }
    .settings-container-left{
        width: 100%;
        position: unset;
    }
    .settings-profile-image{
        padding: 10px;
    }
    .settings-profile-image h1{
        margin-top: 10px;
    }
    .settings-menu{
        gap: 10px;
        overflow-x: scroll;
        flex-direction: row;
        padding-bottom: 10px;
    }
    .settings-menu::-webkit-scrollbar{
        height: 2px;
    }
    .settings-menu::-webkit-scrollbar-thumb{
        height: 0.2px;
        width: 10px;
        background-color: var(--electric);
    }
    .settings-menu a{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
        font-size: 14px;
        text-decoration: none;
        color: var(--border);
        padding: 0px 10px;
        transition: .3s;
        border-radius: 3px;
    }
    .user-details-div ul{
        grid-column-gap: 15px;
    }
    .settings-container-right{
        width: 100%;
        border-radius: 5px;
        background-color: var(--dark800);
        padding: 15px;
        height: auto;
        margin-left: 0%;
    }
    .settings-top h2{
        color: var(--white000);
        font-size: 18px;
    }
    .user-details-container{
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
        gap: 15px;
    }
    .profile-visibility{
        padding: 0 0 20px 0;
    }
    .danger h3{
        color: var(--red000);
        font-size: 18px;
    }
    .danger-zone{
        padding: 5px;
    }
    .danger-zone h2{
        font-size: 12px;
        width: 50%;
    }
    .danger-zone a{
        font-size: 12px;
    }



















    
    /* events responsive styling */
    .events-top .date span{
        font-size: 16px;
    }
    .events-top{
        padding: 15px 0;
    }
    .events-hero{
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5px;
    
    }
    .events-hero-left{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .events-hero-left h1{
        color: var(--electric);
        font-size: 30px;
        text-wrap: wrap;
        text-align: center;
        margin-bottom: 5px;
    }
    .events-hero-left p{
        color: var(--border);
        font-size: 16px;
        text-align: center;
    }
    .hero-cta-btns{
        gap: 10px;
        justify-content: space-between;
    }
    .hero-cta-btns button{
        font-size: 14px;
    }
    .events-hero-right{
        width: 100%;
        margin-top: 10px;
        padding: 5px 5px;
    
    }
    .events-filter{
        width: 100%;
        display: flex;
        align-items: unset;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .events-filter span{
        color: var(--white000);
        font-size: 14px;
    }
    .events-filter select{
        font-size: 12px;
    }
    .events-filter .technology{
        display: flex;
        align-items: flex-start;
        justify-content: left;
        gap: 15px;
    }
    .events-filter .technology .tags span{
        margin: 3px;
        font-size: 12px;
    }
    .featured-events-top h2{
        font-size: 20px;
    }
    .eventsgrid{
        grid-template-columns: 1fr;
    }
    .event-stats{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
    }
    .eventfooter span{
        color: var(--whitesmoke);
        font-size: 14px;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        flex-direction: column;
        gap: 5px;
    }
    .eventfooter button{
        font-size: 14px;
    }
    .event-item{
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    .event-details{
        width: 100%;
    }
    .event-actions{
        width: 100%;
        margin-top: 10px;
        flex-direction: row;
    }
    .event-item .event-date{
        opacity: 1;
        flex-direction: row;
        gap: 10px;
        right: 10px;
        visibility: visible;
    }

    .events-cta{
        padding: 30px;
    }







}





/* groupd details page stylings */
